<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a ng-href="/">Home</a></li>
                    <li class="breadcrumb-item">
                        <a ng-if="obj=='dim'" ng-href="/dims">Dimension</a>
                        <a ng-if="obj=='fct'" ng-href="/fcts">Fact</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a ng-if="obj=='dim'" ng-href="/dim/{{id}}/view">Dimension - {{id}}</a>
                        <a ng-if="obj=='fct'" ng-href="/fct/{{id}}/view">Fact - {{id}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Diagram</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <h1>Diagram</h1>
    </div>

    <br />
    
    <div class="row">
        <div class="col-12 card" style="height:600px; overflow-y: scroll; overflow-x: scroll; overflow: scroll;">
            <div id="paper"></div>
        </div>        
    </div>

</div>