<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a ng-href="/">Home</a></li>
                    <li class="breadcrumb-item"><a ng-href="/dims">Dimension</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dimension - <span ng-if="item._id===undefined">New</span>{{item._id}}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <h1>Dimension - <span ng-if="item._id===undefined">New</span>{{item._id}}</h1>
    </div>
    
    <div class="card form-group">
        <div class="card-header">
            <h3 ng-if="item.namespace!==undefined && item.namespace!==''">{{item.namespace}}</h3>
            <h4>{{item.nameRU}}</h4>
            <p>{{item.nameEN}}</p>
        </div>
        <div class="card-body" ng-if="_action=='edit'">

                <h5>Stratification</h5>

                <div class="form-group">
                    <label for="nameRU">Cluster</label>
                    <select class="form-control" id="cluster" ng-model="item.cluster">
                        <option ng-repeat="cluster in clusters._items" ng-value="cluster._id">{{cluster.nameRU}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="nameRU">Namespace</label>
                    <select class="form-control" id="namespace" ng-model="item.namespace">
                        <option ng-repeat="ns in namespaceList" ng-value="ns.nameRU">{{ns.nameRU}}</option>
                        <option value=""></option>
                    </select>
                </div>

                <h5>General</h5>

                <div class="form-group">
                    <label for="nameRU">Dimension Name (RU)</label>
                    <input type="text" class="form-control" id="nameRU" placeholder="Dimension Name (RU)" ng-model="item.nameRU">
                </div>
                <div class="form-group">
                    <label for="nameEN">Dimension Name (EN)</label>
                    <input type="text" class="form-control" id="nameEN" placeholder="Dimension Name (EN)" ng-model="item.nameEN">
                </div>
                <div class="form-group">
                    <label for="definition">Definition</label>
                    <textarea class="form-control" id="definition" ng-model="item.definition" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="nameRU">History Type</label>
                    <select class="form-control" id="history" ng-model="item.historyType">
                        <option ng-repeat="dt in dimensionHistoryTypeList" ng-value="dt.nameRU">{{dt.nameRU}}</option>
                        <option value=""></option>
                    </select>
                </div>


                <div class="card form-group">
                    <div class="card-header">
                        <h5>Dimension Labels</h5>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary col-4" ng-click="addSubItem(item, 'labels')">Add Label</button>
                        <br />
                        <br />
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="(i_label, label) in item.labels">
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" id="labelType" ng-model="label.labelType">
                                                <option ng-repeat="ns in namespaceList" ng-value="ns.nameRU">{{ns.nameRU}}</option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="label" placeholder="Label" ng-model="label.label">
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" ng-click="clear(label, item.labels)">X</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <br />

                <div class="card form-group">
                    <div class="card-header">
                        <h5>Hierarchy Levels</h5>
                    </div>
                    <div class="card-body">
                        

                        <div class="card form-group" ng-repeat="(i_level, level) in item.levels | orderBy : 'level'">
                            <div class="card-header">
                                <h5>{{level.level}} - {{level.levelNameRU}}</h5>
                                
                                <button type="button" class="btn btn-danger col-4" ng-click="clear(level, item.levels)">Delete</button>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="level">Level #</label>
                                    <input type="number" class="form-control" id="level" placeholder="Level #" ng-model="level.level">
                                </div>
                                <div class="form-group">
                                    <label for="levelNameRU">Level Name (RU)</label>
                                    <input type="text" class="form-control" id="levelNameRU" placeholder="Level Name (RU)" ng-model="level.levelNameRU">
                                </div>
                                <div class="form-group">
                                    <label for="levelNameEN">Level Name (EN)</label>
                                    <input type="text" class="form-control" id="levelNameRU" placeholder="Level Name (EN)" ng-model="level.levelNameEN">
                                </div>
                                <div class="form-group">
                                    <label for="definition">Definition</label>
                                    <textarea class="form-control" id="definition" ng-model="level.definition" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="nameRU">History Type</label>
                                    <select class="form-control" id="history" ng-model="level.historyType">
                                        <option ng-repeat="dt in dimensionHistoryTypeList" ng-value="dt.nameRU">{{dt.nameRU}}</option>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="card form-group">
                                    <div class="card-header">
                                        <h5>Level Labels</h5>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary col-4" ng-click="addSubItem(level, 'labels')">Add Label</button>
                                        <br />
                                        <br />
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="(i_label, label) in level.labels">
                                                    <td>
                                                        <div class="form-group">
                                                            <select class="form-control" id="labelType" ng-model="label.labelType">
                                                                <option ng-repeat="ns in namespaceList" ng-value="ns.nameRU">{{ns.nameRU}}</option>
                                                                <option value=""></option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="label" placeholder="Label" ng-model="label.label">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" ng-click="clear(label, level.labels)">X</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="card form-group">
                                    <div class="card-header">
                                        <h5>Scenarios</h5>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary col-4" ng-click="addSubItem(level, 'scenarios')">Add Scenario</button>
                                        <br />
                                        <br />
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="(i_scenario, scenario) in level.scenarios | orderBy : 'scenarioId'">
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="number" class="form-control" id="scenarioId" placeholder="Id" ng-model="scenario.scenarioId">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="scenarioName" placeholder="Name" ng-model="scenario.scenarioName">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" ng-click="clear(scenario, level.scenarios)">X</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>
                                <br />
                                <div class="card form-group">
                                    <div class="card-header">
                                        <h5>Typizations</h5>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary col-4" ng-click="addSubItem(level, 'typizations')">Add Typization</button>
                                        <br />
                                        <br />
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="(i_type, type) in level.typizations">
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="nameRU" placeholder="Name (RU)" ng-model="type.nameRU">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="nameEN" placeholder="Name (EN)" ng-model="type.nameEN">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <textarea class="form-control" id="definition" ng-model="type.definition" rows="2"></textarea>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <select class="form-control" id="namespace" ng-model="type.namespace">
                                                                <option ng-repeat="ns in namespaceList" ng-value="ns.nameRU">{{ns.nameRU}}</option>
                                                                <option value=""></option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" ng-click="clear(type, level.typizations)">X</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>                            
                            </div>
                        </div>
                        <br />
                        <br />
                        <button type="button" class="btn btn-primary col-4" ng-click="addSubItem(item, 'levels')">Add Level</button>
                        
                    </div>
                </div>
                <br />

                <button type="button" class="btn btn-primary col-2" ng-click="save(item)">Save</button>
        </div>

        <div class="card-body" ng-if="_action=='view'">
            <h5>
                General and Stratification
            </h5>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td ng-if="item.cluster!==undefined">
                            <h6>Cluster</h6>
                        </td>
                        <td ng-if="item.cluster!==undefined">
                            <a ng-href="/cls/{{item.cluster}}/view">{{cluster.nameRU}}</a>
                        </td>
                    </tr>
                    <tr ng-if="item.namespace!==undefined && item.namespace!=''">
                        <td>
                            <h6>Namespace</h6>
                        </td>
                        <td>
                            {{item.namespace}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>History Type</h6>
                        </td>
                        <td>
                            {{item.historyType}}
                        </td>
                    </tr>                    
                    <tr>
                        <td>
                            <h6>Dimension Name (RU)</h6>
                        </td>
                        <td>
                            {{item.nameRU}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>Dimension Name (EN)</h6>
                        </td>
                        <td>
                            {{item.nameEN}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>Definition</h6>
                        </td>
                        <td>
                            <pre>{{item.definition}}</pre>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />

            <h5>
                Levels
            </h5>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>#</th>
                        <th>Type</th>
                        <th>Name (RU)</th>
                        <th>Name (EN)</th>
                        <th>Definition</th>
                        <th>Scenarios</th>
                        <th>Typizations</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="lvl in item.levels | orderBy : 'level'">
                            <td>
                                {{lvl.level}}
                            </td>
                            <td>
                                {{lvl.historyType}}
                            </td>
                            <td>
                                {{lvl.levelNameRU}}
                            </td>
                            <td>
                                {{lvl.levelNameEN}}
                            </td>
                            <td>
                                <pre>{{lvl.definition}}</pre>
                            </td>
                            <td>
                                <p class="mb-1" ng-repeat="scenario in lvl.scenarios | orderBy : 'scenarioId'">{{scenario.scenarioNm}}</p>
                            </td>
                            <td>
                                <p class="mb-1" ng-repeat="type in lvl.typizations"><span ng-if="type.namespace!==undefined && type.namespace!==''">[{{type.namespace}}] - </span>{{type.nameRU}}</p>
                            </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br />

            <h5>
                Linked Facts
            </h5>
            <table class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Role</th>
                </thead>
                <tbody>
                    <tr ng-repeat="fact in facts">
                        <td>
                            <a ng-href="/fct/{{fact._id}}/view">{{fact.nameRU}}<a>
                        </td>
                        <td>
                            <p ng-repeat="dim in fact.dimensions" ng-if="dim.dimension===item._id">{{dim.roleNameRU}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <hr />

            <p class="mb-1"><a class="btn btn-info col-2" ng-href="/ld/dim/{{item._id}}">Logical Diagram</a></p>
            <p class="mb-1"><a class="btn btn-primary col-2" ng-href="/dim/{{item._id}}/edit">Edit</a></p>
        </div>
    </div>
</div>